--- 
gallery_title: Rodellar 2010
url: http://statics.through-the-lens.ch/galleries/2008_10_Rodellar
thumbnail: rodellar-2010/splash.jpg
---

2011 we traveled once again to Rodellar to enjoy lot's of nice climbing walls within short range.
We had a nice apartement in the center of the town.
