--- 
gallery_title: Siurana
year: 2010
month: 4
url: http://www.through-the-lens.ch/galleries/2010_04_siurana
layout: js_gallery
kind: gallery
tags: [climbing]
text: Siurana at it's best. The weather was perfect. Sun and cold wind. So we could explore Siuranella South on perfect conditions.
  And again with friends - Chrigu, Dorthe, Louis and Schämpu.
---