--- 
gallery_title: Rodellar 2010
year: 2010
month: 10
url: http://www.through-the-lens.ch/galleries/2008_10_Rodellar
layout: js_gallery
kind: gallery
tags: [climbing]
text: First time visit of Rodellar. A perfect climbing area. All the cliffs are close in walking distance.
  The 'Riglos' are not far away - so you have to go there and climb 'Fiesta del Biceps'. The problem with the 'Biceps' is not
  really the power - rather the endurance. You get really really tired - especially when climbing with a backpack - uff.<br/>
  Team&#58; Dorthe, Rainer, Lexi, Romy, Reto and a bunch of niiiice spanish guys (gäll Romy ;-)
---
