--- 
gallery_title: Montsant
year: 2006
month: 4
url: http://wwwthrough-the-lens.ch/galleries/2006_04_montsant
kind: gallery
tags: [climbing]
layout: js_gallery
text: Nice climbing trip in spring with lot's of friends (Dani, Dorthe, Flöru, Louis, Marko, Reto, Yvonne).
---
