--- 
gallery_title: Patagonia
year: 2002
month: 12
_url: http://statics.through-the-lens.ch/galleries/2002_12_patagonia
kind: gallery
tags: [traveling, hiking]
layout: js_gallery
text: Backpacking in Patagonia was a little adventure (for me at least). We celebrated new years with friends in El Chalten, were
  hiking in the 'Torres del Paine' and climbed some volcanos near Puerto Varras and Villarrica.
---

huhu