@import base
@import menu_a_colors
@import detail

//@import compass/reset.scss
//@import compass/layout.scss

.gallery-summary
  +clearfix
  +border-radius(6px)
  +box-shadow(grey 2px 2px 10px)
  background-color: adjust-lightness(#94B394, 22%)
  margin:  10px
  padding: 10px
  
  a
    +unstyled-link



