@import base
@import menu_a_colors

//@import compass/reset.scss
//@import compass/layout.scss

.section
  +border-radius(3px)
  background-color: adjust-lightness($color-photo, 7%)
  _background-color: adjust-lightness(#222222, 50%)
  font-weight: bold
  margin-top: 40px
  left: 0
  right 0
  padding: 5px
  vertical-align: middle

.gallery-item
  .time-box
    +border-radius(6px)
    background-color: adjust-lightness($color-photo, 15%)
    float: left
    position: relative
    left: 0px
    top: 0
    width: 50px
    height: 42px
    border: 1px silver solid
    text-align: center
    padding-top: 10px
    font-weight: bold

  .gallery-summary
    +clearfix
    +border-radius(6px)
    +box-shadow(grey 2px 2px 10px)
    _background-color: adjust-lightness($color-photo, 22%)
    @include gradient(adjust-lightness($color-photo, 20%))
    margin:  25px 15px 25px 70px
    padding: 10px
    
    .splash
      float: right

      img
        width: 100px
        height: 100px
        padding: 0 0 10px 10px

    a
      +unstyled-link



