#footer
  #menubar.nolink
    %a(href="/detail/climbing")
      .menu-item-color-1.item.first(style="width: 195px;")
        %p Climbing
    %a(href="/detail/photography")
      .menu-item-color-2.item
        %p Photography
    %a(href="/detail/projects")
      .menu-item-color-3.item
        %p Projects
    %a(href="http://blog.verticonaut.me" target="_blank")
      .menu-item-color-4.item
        %p
          Thoughts
          %img(src="/assets/img/12px/external_link_grey.png" alt="external link")
    %a(href="/detail/about")
      .menu-item-color-5.item(style="width: 196px;")
        %p About
    .clear-float

  #footer-content
    Design by Martin Schweizer - 2011 - Built with
    %a(href="http://nanoc.stoneship.org/" target="_blank") Nanoc
