--- 
title:      About
base-color: '#f3d49d'
---

%style
  :plain

    #about-img {
      float: right;
      padding: 2px;
      border: 1px solid silver;
    }

#about-img
  %img(src="/assets/img/me.jpg")
  
Hi,
%br
my name is Martin Schweizer. I live in Luzern in Switzerland. I'm interested in Web Development, rockclimbing and photography. And zzz...
