--- 
title:      About
base-color: '#f3d49d'
stylesheet: about
tag: klettern, portrait
---

#about-img
  %img(src="/assets/img/me.jpg")
  
%p.section
  Hi,
  %br
  my name is Martin Schweizer. I live in Luzern in Switzerland. I'm interested in Web development, rock climbing and photography.

%p.section
  'verticonaut' is a phantasy name. It's a combination of 'vertical' and 'astronaut'. As a kid I wanted to become an astronaut. Well - that's pretty hard to achieve. To get off the ground I started rock climbing. That's the 'vertical' part of the name. So - the combination of these words is obvious and fits into the already existing names like 'astronaut', 'kosmonaut', 'taikonaut'.

%p.section
  I like the Ruby programming language. It has at it's basics a lot in common with Samlltalk - a language I once programmed in. Smalltalk was always my reference as well in the times of Java. Once I stumbled upon the elegant Smalltalk WebFramework 
  %a(href="http://seaside.st" target="_blank") Seaside
  = " - and not far away -"
  %a(href="http://rubyonrails.org" target="_blank") Ruby on Rails.
  It seemed very interesting to me. The Ruby language felt right at the beginning.
  And here I am - I got the chance to work with this technology - and more important - with the inspiring people that build the community around this language and framework.


.info-box
  %table
    %tr
      %td.label Name:
      %td.value Martin Schweizer
    %tr
      %td.label Age:
      %td.value= "about #{Time.now.year - Date.new(1964,10,1).year} years"
    %tr
      %td.label Location:
      %td.value Lucerne, Switzerland
    %tr
      %td.label Contact:
      %td.value martin@verticonaut.me
