--- 
title:      Climbing
base-color: '#e0ddab'
stylesheet: climbing
---


%h2 Climbing - I love it!

%h3 Some of my ascents &hellip;

.routes
  .route-box
    %h4 &hellip; I am proud of
    %ul
      %li Papy on sight (Verdon, mythical route, 7c+)
      %li La belle vie (Falkenflueh, my first 8b)
      %li Femme blanche (Céuse, a mythical route, challenging, 8a+)

  .route-box
    %h4 &hellip; nice ones
    %ul
      %li Mordillo (Voralpsee, mythical route, (8b))
      %li No sika no crime (Lehn, 8b)
      %li Hurvinek (Lopper, 8b)

  .route-box.last
    %h4 &hellip; hard ones
    %ul
      %li Euphorie (Voralpsee, 8b+)
      %li Schwarzes Glas (Engelberg, 8b+)
      %li Termilator (Engelberg, 8b+)
      %li PPO (Lungern, (8b/8b+)
      %li Shape of space (Lungern, 8b/8b+)

.clear-float


%h3 Climbing areas I like

%h3 Some links

  
