--- 
title:      Climbing
base-color: '#e0ddab'
---

Climbing - I love it!

.section
  Some of my ascents:

  %ul
    %li I am proud of:
    %li Nice ones:
    %li Hardest ones:
    %li Most ugly:
    %li Scary ones:

.section
  Climbing areas

  %ul
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK
    %li Around Lucerne:
    %li I like
    %li Hm - if it's raining it's OK


  
