--- 
title:      Climbing
base-color: '#e0ddab'
stylesheet: climbing
---


%h2 Climbing - I love it!
%h4 &nbsp;

.boxes
  .box
    %h4 &hellip; I am proud of
    %ul
      %li Papy on sight (Verdon, mythical route, 7c+)
      %li La belle vie (Falkenflueh, my first 8b)
      %li
        Femme blanche (Céuse, a mythical route, challenging, 8a+)
        %br &nbsp;
      %li and all the other climbs&hellip;

  .box
    %h4 &hellip; nice ones
    %ul
      %li Surfers paradise (Gimmelwald, (8a+)
      %li Mordillo (Voralpsee, mythical route, (8b)
      %li No sika no crime (Lehn, 8b)
      %li Hurvinek (Lopper, 8b)
      %li
        Mountain Shark (Birchboden, 8A+/8b)
        %br &nbsp;
      %li and many others&hellip;

  .box.last
    %h4 &hellip; hard ones
    %ul
      %li Euphorie (Voralpsee, 8b+)
      %li Schwarzes Glas (Engelberg, 8b+)
      %li Termilator (Engelberg, 8b+)
      %li PPO (Lungern, (8b/8b+)
      %li
        Shape of space (Lungern, 8b/8b+)
        %br &nbsp;
      %li and all the others&hellip;
.clear-float


.boxes
  .box(style="width: 430px;")
    %h4 Climbing areas I like
    %ul
      %li All around Lucerne
      %li Lehn (Interlaken, CH)
      %li Siurana, Montsant, Margalef, Rodellar (ES)
      %li Gorge diu Tarn (FR)
      %li Red River Gorge (USA)
      %li PilatusIndoor climbing gym

  .box.last(style="width: 430px;")
    %h4 Some links
    %ul.nolink
      %li
        %a(href="http://www.rainereder.com" target="_blank") Rainer Eder
        Photographer
      %li
        %a(href="http://www.videoclimb.com" target="_blank")= "VideoClimb.com"
        A resource for nice climbing videos
      %li
        %a(href="http://8a.nu" target="_blank")= "8a.nu"
        If you like rankings and spy what others climb
      %li
        %a(href="http://www.pilatusindoor.ch" target="_blank")= "PilatusIndoor"
        The best climbing gym in the universe

  
