--- 
title:      Projects
base-color: '#978765'
---

#projects
  .page-intro
    %p
      Listed here are my most important projects. You can find them - and all others public ones - on my
      %a(href="https://github.com/verticonaut" target="_blank") github
      account.
    %p
      There are many ideas - but there are the other hobbies and the little lazybone inside me. Publishing this my work on this site might push me to make my ideas come true. So - look by from time to time.


  .detail-item.gradient
    %h1
      ar-audit-tracer
      %span.small-note
        (
        %a.source(href="https://github.com/verticonaut/ar-audit-tracer" target="_blank") source
        )
    .description
      %i ar-audit-tracer
      patches ActiveRecord so modifiers of a record can be traked on saving (insert/update). It works exactly like ‘timestamps’
      

  .detail-item.gradient
    %h1
      verticonaut-nanoc
      %span.small-note
        (
        %a.source(href="https://github.com/verticonaut/verticonaut-nanoc" target="_blank") source
        )
    .description
      The source code of this website. It uses 
      %a(href="http://nanoc.stoneship.org/" target="_blank" style="color: red") nanoc
      , a Ruby web publishing system for small web sites. It's my playground to explore the framework - playing with the differnt possibilities and options it provides. In addition, I can practice the use the Compass/Blueprint CSS framework.
    
