--- 
title:      Thoughts
base-color: '#a21e36'
---

This should be the place where I publish my thoughts in a blog.
%br
Well - the blog is in development - as my thoughts are. So this could take a while until ... zzz
